---
import { Icon } from "astro-icon";
import Grid from "../../components/Grid.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Back from "../../components/Back.astro";

---

<MainLayout titel="Webseite bauen">
    <Grid titel="Webseite bauen">
        <div>
                   <ol>
            <li>Entwicklungsumgebung einrichten <a href="/docs/node"><Icon name="IcRoundLink"/></a></li>
            <li>Im Terminal (aus dem Pfad des heruntergeladenen Webseitenstandes heraus) <code>npm run build</code> eingeben und mit enter bestätigen.
            <br><br><img src="/images/docs/build.png" alt="">
              <br>(dies kann eine Weile dauern)
            <br><br>Der Vorgang ist beendet, wenn es so aussieht
          <br><img src="/images/docs/buildCom.png" alt=""></li>
            <li>Fertig gebaute Webseite befindet sich im Unterordner <code>dist/</code></li>
        </ol>
        <Back url="/docs/" txt="Übersicht"/> 
        </div>

    </Grid>
</MainLayout>

<style>
        [astro-icon] {
        color: var(--main-color);
        display: inline-block;
        height: 24px;
        vertical-align: bottom;
        font-size: 24px !important;
    }
    ol > li {
        margin: 30px;
        padding: 16px;
        background-color: white;
        border-radius: 16px;
        border: 1px solid var(--border-grey);
    }
    code {
        background-color: gainsboro;
        padding-inline: 16px;
        border-radius: 16px;
    }
</style>