---
import { Icon } from "astro-icon";
import Grid from "../../components/Grid.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Back from "../../components/Back.astro";
---

<MainLayout titel="Entwicklungsumgebung einrichten">
  <Grid titel="Entwicklungsumgebung einrichten">
    <ol>
      <li>
        Filezilla herunterladen und installieren<a
          href="https://filezilla-project.org/download.php?type=client"
          ><Icon name="IcRoundLink" /></a>
      </li>
      <li id="conFTP">
        Mit "freibad-delligsen.de"-FTP-Server verbinden
        <br /><br /><img src="../assets/images/docs/filezilla.png" alt="" />
        <ul>
          <li>Server: sftp://freibad-delligsen.de</li>
          <li>Benutername und Passwort eingeben</li>
          <li>Port leer lassen</li>
        </ul>
        <br />
        <p>Server vertrauen:</p>
        <br />
        <img src="../assets/images/docs/filezillaOK.png" alt="" />
      </li>
      <li>
        Aktuelle Webseite herunterladen
        <ul>
          <li>
            Auf der linken Seite zu Pfad navigiern, in den heruntergeladen
            werden soll <br />Im Beispiel zum Ordner <code
              >Freibad-Webseite</code
            ><br /><br /><img src="../assets/images/docs/fileLocal.png" alt="" />
          </li>
          <li>
            Auf der rechten Seite Rechtsklick auf /astro und auf herunterladen
            klicken <br /><br /><img src="../assets/images/docs/fileDown.png" alt="" />
          </li>
        </ul>
      </li>

      <li>
        Node.js herunterladen und installieren<a href="https://nodejs.org/de"
          ><Icon name="IcRoundLink" /></a>
      </li>
      <li id="terminal">Terminal öffnen (unter Windows eventuell "powershell")</li>
      <li>
        Zu Ordnerpfad navigieren mit <code>cd /pfad/zum/Ordner/</code>
        <br />z.B. für Windows:
        <br /><br />
        <img src="../assets/images/docs/psExample.png" alt="" />
      </li>
    </ol>
    <Back url="/docs/" txt="Übersicht"/>
  </Grid>
</MainLayout>

<style>
  [astro-icon] {
    color: var(--main-color);
    display: inline-block;
    height: 24px;
    vertical-align: bottom;
    font-size: 24px !important;
  }
  ol > li {
    margin: 30px;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid var(--border-grey);
  }
  code {
    background-color: gainsboro;
    padding-inline: 16px;
    border-radius: 16px;
  }
</style>
