---

---

<div class="grid">
    <div class="left">
        <slot name="left" />
    </div>
    <div class="right">
        <slot name="right" />
    </div>
</div>

<style>
    .grid {
        width: 100%;
        color: var(--text);
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        background-color: var(--article);
        padding: 4%;
        border-radius: 16px;
        border: var(--border-grey) 1px solid;
    }
    @media screen and (max-width: 900px) {
        .grid {
            display: block;
        }
    }
</style>
