:root {
  --navbar-height: 6rem;
  --test: hsla(216, 86%, 36%, 0.932);
  --test2: hsl(44.56, 81.93%, 67.45%);
  --test3: hsl(216, 66.67%, 94.12%);
  --test4: hsl(210.65, 61.33%, 70.59%);
  --test5: hsl(215.32, 51.67%, 52.94%);

  
  --text: #000000;
  --background: white;
  --primary: #235fa4;
  --primary-dark: color-mix(in oklab, var(--primary), black);
  --secondary: color-mix(in oklab, var(--primary) 10%, var(--background));
  --card: color-mix(in oklab, var(--background) 95%, var(--primary) 5%);
  --error: color-mix(in oklab, var(--secondary) 80%, #d41d54);
  --neutral: color-mix(in oklab, var(--secondary) 80%, grey);
  --positive: color-mix(in oklab, var(--secondary) 80%, green);
  --article: color-mix(in oklab, var(--secondary) 40%, var(--background));
  --accent: #d41d54;
  --border-radius: .7rem;
  --border-grey: #cecece63;
  --border-grey: color-mix(in oklab, var(--secondary) 90%, grey);
  --nav-bg-color: color-mix(in oklab, var(--background) 90%, white 0%);


  --old: #2e577e;
  --main-color: var(--primary);
  --text: hsl(225, 18.2%, 12.9%);
  --accent-color: var(--primary);
  --light-blue: var(--test4);
  --lighter-blue: var(--test3);
  --dark-blue: var(--test5);

  --accent-color3: #f3e99f;
  --accent-color4: #ff6d60;
  --filter-blue: brightness(0) saturate(100%) invert(31%) sepia(35%)
    saturate(727%) hue-rotate(168deg) brightness(92%) contrast(97%);
  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(100%)
    saturate(1%) hue-rotate(45deg) brightness(109%) contrast(101%);
  --filter-light-blue: brightness(0) saturate(100%) invert(90%) sepia(11%)
    saturate(420%) hue-rotate(166deg) brightness(100%) contrast(94%);
  --nav-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.548);
  --bg-color: var(--background);
  --accent-color2: brown;
  --drop-filter: drop-shadow(0 0 1rem var(--main-color));
  --box-shaddow: inset 0 -120px 120px -120px black,
    inset 0 -120px 120px -100px black;
}

@media screen and (max-width:500px) {
  :root {
    --navbar-height: 3rem;
  }
}

@font-face {
  font-family: "Monteserrat";
  src: url("/fonts/Monteserrat/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Monteserrat";
  line-height: 1.75rem;
  /* hyphens */
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

html {
  scroll-behavior: smooth;
}
[astro-icon="freibadLogo"] ellipse {
  fill: var(--primary) !important;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

article img {
  border-radius: var(--border-radius);
  margin-block: .5rem;
}

body {
  overflow-x: hidden;
}

h1,h2,h3,h4 {
  line-height: normal;
  text-wrap: balance;
}

.top_div {
  width: 100%;
  height: calc(var(--navbar-height) + 2rem);
}

nav.sticking {
  transition: all 0.3s ease-in-out;
  box-shadow: none !important;
}

nav.notSticking {
  background-color: var(--nav-bg-color);
  box-shadow: var(--nav-shadow), 0 -9px white;
  backdrop-filter: blur(10px);
}
.solidWhite {
  background-color: white !important;
}

.disabled {
  pointer-events: none;
  background-color: var(--neutral);
}

.fancy-link {
  text-decoration: none;
  position: relative;
}

.fancy-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  z-index: -1;
  background: var(--primary);
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.active::after {
  transform: scaleX(1);
}

.fancy-li:hover .fancy-link::after {
  transform: scaleX(1);
  transform-origin: top;
}