---
---

<div class="termineCard">
    <div class="termine">
        <slot />
    </div>
</div>

<style>
    .termineCard {
        border-radius: var(--border-radius);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2),
            0 3px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2%;
        margin: 5% 10%;
        width: 80%;
        max-width: 1400px;
        height: min-content;
    }
    @media screen and (max-width: 800px) {
        .termineCard {
            margin-inline: 2%;
            width: 96%;
        }
    }
</style>
