---
import Back from "../components/Back.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout titel="404">
  <section>
    <div>
      <h1>404</h1>
      <h3>Falsch abgetaucht?</h3>
    </div>
    <Back url="/" txt="Startseite" />
  </section>
</MainLayout>
<style>
  section {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 3rem;
    height: 70vh;
    height: 70svh;
  }
  div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  h1 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(120deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    font-size: 10rem;
  }
  h3 {
    font-size: 2rem;
  }
  @media screen and (max-width: 1600px) {
    div {
    display: grid;
    justify-items: center;
    gap: 2rem;
  }
  }
  @media screen and (max-width: 500px) {
    h1 {
        font-size: 5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
  }
</style>
