---
import Card from "../components/Card/Card.astro";
import CardItem from "../components/Card/CardItem.astro";
import Grid from "../components/Grid.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout titel="Eintrittspreise" description="Eintrittspreise für Einzelkarten, Abendtarif und Jahreskarten">
    <Grid titel="Eintrittspreise" >
        <!--Einzelkarten -->
        <Card titel="Einzelkarten">
            <CardItem titel="Erwachsene:" content="3,50 €"/>
            <CardItem titel="Kinder und Jugendliche: (ab 4 - 18 Jahre)" content="2,00 €"/>
            <CardItem titel="Kinder unter 4 Jahren in Begleitung Erwachsener:" content="frei"/>
        </Card>
        <!--Abendtarif -->
        <Card titel="Abendtarif*">
            <CardItem titel="Erwachsene:" content="2,00 €"/>
            <CardItem titel="Kinder und Jugendliche: (ab 4 - 18 Jahre)" content="1,00 €"/>
            <CardItem titel="Kinder unter 4 Jahren in Begleitung Erwachsener:" content="frei"/>
        </Card>
        <!--Jahreskarten -->
        <Card titel="Jahreskarten**">
            <CardItem titel="Erwachsene:" content="50,00 €"/>
            <CardItem titel="Jugendliche:" content="30,00 €"/>
            <CardItem titel="Familie mit Kindern: (inklusive aller Kinder unter 18 Jahren)" content="100,00 €"/>
        </Card>
    </Grid>
    <div>
        <p>
            * ab 19 Uhr<br>
            ** zuzüglich 5€ Pfand pro Transponder
        </p>
    </div>
</MainLayout>

<style>
    div {
        display: flex;
        justify-content: flex-end;
        margin-inline: auto;
        padding: 1rem;
        max-width: var(--site-width);
        width: 100%;
    }
</style>