---
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from "astro-icon";
---

<MainLayout
    titel="RSS-Feed"
    description="Fügen sie den RSS-Feed zu ihrem Feeder hinzu."
>
    <div class="padding">
        <div class="grid">
            <h1>RSS-Feed</h1>
            <p>
                Rich Site Summary (RSS) sind Dateiformate für Web-Feeds. Hiermit
                können sie direkt die Neuigkeiten zum Freibad Delligsen
                bekommen.
                <br />Die Feed-URL ist: <br />
                <code>http://freibad-delligsen.de/rss.xml</code><br /><br />
                Im Folgenden werden einige Feed-Reader vorgestellt, in der Sie diese
                URL unter neuen Feed hinzufügen abbonieren können. Hierbei ist zu
                beachten, dass den gesamte Artikel abgerufen in den Einstellungen
                aktiviert ist.
            </p>
            <div class="card">
                <div class="title">
                    <Icon name="IcRoundAndroid" />
                    <span></span>
                    <h2>Android</h2>
                </div>
                <div class="download">
                    <h3>Feeder</h3>
                    <div style="width: 200px; display: grid; gap:1rem;">
                        <a
                            href="https://play.google.com/store/apps/details?id=com.nononsenseapps.feeder.play"
                        >
                            <Icon name="playStore" />
                        </a>
                        <a
                            href="https://f-droid.org/de/packages/com.nononsenseapps.feeder/"
                        >
                            <Icon name="fdroid" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <Icon name="IcRoundApple" />
                    <span></span>
                    <h2>IOS / MacOS</h2>
                </div>
                <div class="download">
                    <h3>NetNewsWire</h3>
                    <a
                        href="https://apps.apple.com/us/app/netnewswire-rss-reader/id1480640210"
                    >
                        <Icon name="appStore" />
                    </a>
                </div>
            </div>
            <!--Broken 
            <div class="card">
                <div class="title">
                    <Icon name="IcRoundComputer" />
                    <span></span>
                    <h2>Firefox / Chrome</h2>
                </div>
                <div class="download">
                    <h3>Feedbro</h3>
                    <div style="width: 200px; display: grid; gap:1rem;">
                        <a href="https://addons.mozilla.org/firefox/addon/feedbroreader/">
                            <Icon name="firefox" />
                        </a>
                        <a href="https://chrome.google.com/webstore/detail/feedbro/mefgmmbdailogpfhfblcnnjfmnpnmdfa">
                            <Icon name="chrome" />
                        </a>
                    </div>
                </div>
            </div>
            -->
            <div class="card">
                <div class="title">
                    <Icon name="linux" />
                    <span></span>
                    <h2>Linux</h2>
                </div>
                <div class="download">
                    <h3>NewsFlash</h3>
                    <a
                        href="https://flathub.org/de/apps/io.gitlab.news_flash.NewsFlash"
                    >
                        <Icon name="flathub" />
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <Icon name="windows" />
                    <span></span>
                    <h2>Windows</h2>
                </div>
                <div class="download">
                    <h3>Fluent Reader</h3>
                    <a
                        href="https://github.com/yang991178/fluent-reader/releases"
                    >
                        <Icon name="getGithub" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</MainLayout>
<style>
    p {
        line-height: 1.5rem;
    }
    code {
        display: block;
        padding: 1rem;
        font-weight: 700;
    }
    .grid {
        color: var(--text);
        display: grid;
        max-width: 800px;
        margin-inline: auto;
        gap: 2em;
        background-color: var(--article);
        padding: 4%;
        border-radius: 16px;
        border: var(--border-grey) 1px solid;
    }
    .card {
        background-color: var(--background);
        padding-inline: 1rem;
        padding-block: 30px;
        margin-block: 15px;
        border-radius: 16px;
        display: grid;
        gap: 30px;
    }
    .padding {
        padding: 2vw;
    }
    [astro-icon] {
        color: var(--primary);
    }
    [astro-icon="linux"] {
        fill: var(--primary);
    }
    .download {
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
    .download h3 {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }
    .download [astro-icon] {
        max-width: 200px;
    }
    .download a {
        width: 200px;
    }
    .title {
        display: grid;
        grid-template-columns: 1fr 2px 1fr;
        align-items: center;
        justify-items: center;
        max-height: 100px;
    }
    .title span {
        width: 2px;
        height: 100%;
        background-color: var(--text);
        height: 70%;
        margin-inline: 20px;
    }
    .title h2 {
        font-weight: 500;
        text-align: center;
    }
    .title [astro-icon] {
        height: 100px;
    }
    @media screen and (max-width: 500px) {
        .download {
            grid-template-columns: auto;
        }
    }
</style>
