---
import MainLayout from "../layouts/MainLayout.astro";
import BlogImage from "../components/Neues/BlogImage.astro";

//Images
import historischeAnsicht from "@assets/images/galerie/3701.jpg";
---

<MainLayout
  titel="Über"
  description="(historische) Geschichte des Freibad Delligsens"
>
  <div>
    <h1>Wir über uns</h1>
    <p>
      Der Förderverein Freibad Delligsen e.V. wurde im Jahr 2003 gegründet.
      Zweck des Vereins ist die Förderung des Erhalts und der Nutzung des
      Freibades Delligsen.
    </p>
    <p>
      Das Bad dümpelte im Dornröschenschlaf vor sich hin und drohte, langsam zu
      verfallen. Die Zeit seit der Eröffnung im Jahre 1933 hatte Ihre Spuren
      hinterlassen und es musste gehandelt werden. In der Saison 2004 haben wir
      erstmals in großem Umfang Arbeiten im Bad, Beckenanstrich und
      Geländepflege übernommen.
    </p>
    <BlogImage
      src={historischeAnsicht}
      alt="historische Ansicht"
      width="700"
      height="526"
    />
    <p>
      Im Jahr 2005 schlossen wir erstmals einen Nutzungsvertrag mit der Gemeinde
      ab. Neben der Mitverantwortung für die Vorbereitung und den laufenden
      Betrieb, suchten wir nach Möglichkeiten, die Attraktivität des Bades zu
      steigern. So entstand die Idee, eine Wasserrutsche zu beschaffen. Dank der
      überwältigenden Spendenbereitschaft vieler Mitbürger, konnte dieses
      Vorhaben noch vor den Sommerferien umgesetzt werden. Die Finanzierung
      wurde vollständig aus Spenden und Mitgliedsbeiträgen sichergestellt. Mit
      der Erfüllung dieses Jahrzehnte alten Wunsches haben wir gleichzeitig
      gezeigt, welche Gestaltungs- und Einflussmöglichkeiten engagierte Bürger
      auch in öffentlichen Belangen haben.
    </p>
    <p>
      Im Jahr 2006 haben wir dann einen neuen Nutzungsvertrag mit der Gemeinde
      Delligsen, zunächst befristet für drei Jahre, abgeschlossen. Neben einem
      Betriebskostenzuschuss in Höhe von 22.500 Euro pro Jahr, erhielten wir
      auch einen Investitionskostenzuschuss in Höhe von 75.000 Euro für drei
      Jahre. Damit haben wir begonnen, dringend notwendige Sanierungsarbeiten
      durchzuführen, nachdem die letzte Renovierung in den sechziger Jahren des
      letzen Jahrhunderts erfolgt war. Inzwischen haben wir große Teile der
      Technik und die Chlorgasanlage erneuert. Das Becken erhielt eine
      professionelle Oberflächensanierung mit kompletter Erneuerung der
      Abdichtung. Die elektrische Anlage wurde mit Hilfe örtlicher Firmen
      modernisiert.
    </p>
    <p>
      Im Jahr 2008 begannen wir die sanitären Anlagen auf einen modernen Stand
      zu bringen und haben dieses erfolgreich in 2009 abgeschlossen. Darüber
      hinaus bleibt die Attraktivitätssteigerung des Bades unser hauptsächliches
      Anliegen.
    </p>
    <p>
      Mit der neu gestalteten Cafeteria mit Sonnenterrasse, der neuen Farbgebung
      des Hauptgebäudes und den neu verlegten, sandfarbenen Platten um das
      Becken, bieten wir nun eine bei schönem Wetter fast mediterran anmutende
      Freizeitinsel, mitten im Flecken Delligsen. Zum Baden lädt ein großzügiges
      50m-Becken mit Sprungbrett und 3m-Sprungturm ein. Kleinkinder lieben das
      neue Planschbecken und die Matschecke.
    </p>
    <p>
      Große können Beach-Volleyball spielen, auf dem neuen Bolzplatz Fußball
      spielen, sich dem Basketballspiel hingeben oder einfach auf der
      Sonnenterrasse sitzen und es sich bei kleinen Speisen und Getränken gut
      gehen lassen.
    </p>
    <p>
      Ohne die Hilfe vieler engagierter Bürger und Firmen und ohne unseren
      Förderverein, hätte das Bad den 75. Geburtstag nicht mehr erlebt.
    </p>
    <p>
      Jedermann ist herzlich eingeladen, sich selbst vom Wiedererwachen des
      Bades aus dem Dornröschenschlaf zu überzeugen.
    </p>
  </div>
</MainLayout>
<style>
  div {
    display: grid;
    gap: 2.5rem;
    color: var(--text);
    max-width: 800px;
    padding: 4%;
    background-color: var(--article);
    border-radius: 16px;
    border: var(--border-grey) 1px solid;
    margin-inline: auto;
  }

  h1 {
    font-weight: 500;
    margin-block: 1rem;
    font-size: clamp(1.7rem, 1.4551rem + 1.3061vw, 2.5rem);
  }

  p {
    text-align: justify;
  }
</style>
