---
import { Icon } from "astro-icon/components";
import Grid from "components/Grid.astro";
import MainLayout from "layouts/MainLayout.astro";
---

<MainLayout titel="Unterstützen" description="Wie man das Freibad unterstützen kann..." classes="support-bg">
    <Grid titel="Unterstützen">
      <div class="card bg-base-100 shadow-xl backdrop-blur-2xl backdrop-brightness-125" style="background-color: rgba(255, 255, 255, 0.3);">
        <Icon name="qr-code-styling"/>
        <div class="card-body">
          <h2 class="card-title">Hilf mit im Freibad</h2>
          <p>Ob beim Aufräumen, bei kleinen Reparaturen oder der Grünpflege</p>
<p>
            Jede helfende Hand ist willkommen.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">öffnen</button>
          </div>
        </div>
      </div>
        <div class="card glass w-96">
            <Icon name="pay"/>
            <div class="card-body">
              <h2 class="card-title">Life hack</h2>
              <p>How to park your car at your garage?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Learn now!</button>
              </div>
            </div>
          </div>
          <div class="card glass w-96">
            <Icon name="pay"/>
            <div class="card-body">
              <h2 class="card-title">Life hack</h2>
              <p>How to park your car at your garage?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Learn now!</button>
              </div>
            </div>
          </div>
          <div class="card glass w-96">
            <Icon name="pay"/>
            <div class="card-body">
              <h2 class="card-title">Life hack</h2>
              <p>How to park your car at your garage?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Learn now!</button>
              </div>
            </div>
          </div>
          <div class="card glass w-96">
            <Icon name="pay"/>
            <div class="card-body">
              <h2 class="card-title">Life hack</h2>
              <p>How to park your car at your garage?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Learn now!</button>
              </div>
            </div>
          </div>
    </Grid>
</MainLayout>