---
import Grid from "../components/Grid.astro";
import MainLayout from "../layouts/MainLayout.astro";
import TermineGrid from "../components/Veranstaltungen/TermineGrid.astro";
import TermineItem from "../components/Veranstaltungen/TermineItem.astro";
---

<MainLayout
    titel="Veranstaltungen"
    description="Aktuelle Veranstaltungen der aktuellen Saison"
>
    <Grid titel="Veranstaltungen">
        <TermineGrid>
            <TermineItem
                date="16."
                day="Sa"
                month="Sep"
                titel="Bänke abbauen 10 Uhr"
            />
            <div></div>
            <TermineItem
                date="30."
                day="Sa"
                month="Sep"
                titel="Heckenschnitt und Grünpflege 10 Uhr"
            />
        </TermineGrid>
    </Grid>
</MainLayout>
<style>
    div {
        width: 96%;
        margin: 2%;
        height: 2px;
        background-color: var(--text);
    }
</style>
