---
import { Icon } from "astro-icon";
import Banner from "../components/Banner.astro";
import Card from "../components/Card/Card.astro";
import CardItem from "../components/Card/CardItem.astro";
import Grid from "../components/Grid.astro";
import MainLayout from "../layouts/MainLayout.astro";
import PreiseCard from "components/Card/PreiseCard.astro";
---

<MainLayout
  titel="Öffnungszeiten"
  description="Aktuelle Öffnungszeiten des Freibads Delligsen"
>
  <Grid titel="Öffnungszeiten">
    <!--<Banner
    id="Heimatfest"
    title="Geänderte Öffnungszeiten aufgrund des Heimatfestes"
    icon="LogosPartytownIcon"
  >
  <p>Samstag (08.06) und Sonntag (09.06) nur von <b> 10 - 12 Uhr</b>. Freitag (07.06) und Montag (10.06) normal von <b>15 -20 Uhr</b>.</p>
  </Banner>-->
  <!--Bei schlechtem Wetter kann die Badezeit früher enden !!! -->
  <!--
  <Banner
    title="Bei schlechtem Wetter kann die Badezeit früher enden !!!"
    icon="IcRoundRainy"
    bg_color="error"
  /> -->
<!--   <Banner
  title="Saisonverlängerung"
  icon="IcRoundTimelapse"
  bg_color="positive">
  Die Saison wurde bis zum 6. September 2024 von 17 bis 20 Uhr verlängert.
</Banner> -->
<PreiseCard title="In der Schulzeit" icon="school" color="purple">
    <table class="w-full">
        <tbody
            class="space-y-6 text-center divide-y dark:divide-gray-300"
        >
            <tr>
                <th scope="row" class="text-left">
                    <h3 class="py-3">Montag bis Freitag:</h3>
                </th>
                <td>
                    <span class="block text-sm w-max">15:00 - 20:00 Uhr</span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-left">
                    <h3 class="py-3">
                        Samstag und Sonntag sowie feiertags:
                    </h3>
                </th>
                <td>
                    <span class="block text-sm w-max">10:00 - 20:00 Uhr</span>
                </td>
            </tr>
        </tbody>
    </table>
</PreiseCard>
<PreiseCard title="In den Sommerferien" icon="IcRoundBeachAccess" color="green">
    <table class="w-full">
        <tbody
            class="space-y-6 text-center divide-y dark:divide-gray-300"
        >
            <tr>
                <th scope="row" class="text-left">
                    <h3 class="py-3">
                        Montag bis Sonntag sowie feiertags:
                    </h3>
                </th>
                <td>
                    <span class="block text-sm w-max">10:00 - 20:00 Uhr</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card-actions justify-end"><div class="badge badge-outline h-auto">
    <a slot="badge_bottom"
        target="_blank"
        href="https://www.schulferien.org/deutschland/ferien/sommer/niedersachsen/"
      >
        <Icon name="IcRoundLink"/>
        Sommerferien Niedersachsen
      </a></div></div>
</PreiseCard>

  </Grid>
</MainLayout>

<style>
  a {
    text-decoration: none;
    color: var(--text);
    display: flex;
  }
  [astro-icon] {
    height: 24px;
    vertical-align: bottom;
    font-size: 24px !important;
  }
</style>
