---
const { h3, p } = Astro.props;
---

<div>
    <h3>{h3 + " "}</h3>
    <p>{p}</p>
</div>
<style>
    div {
        margin: 24px 0 24px 0;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 2%;
    }

    h3,
    p {
        font-size: larger;
        color: var(--text);
    }

    @media only screen and (max-width: 800px) {
        div {
            grid-template-columns: 1fr;
            gap: 15%;
        }
    }

    @media only screen and (max-width: 530px) {
        .kurseItems {
            margin-left: 10%;
        }
    }
</style>
