---
import { Icon } from "astro-icon";
interface Props {
  title: string;
  icon: string;
  bg_color: string;
}
const { title, icon, bg_color = "error" } = Astro.props as Props;
---

<div style={"background-color: var(--" + bg_color + ")"}>
  <section>
    <Icon name={icon} />
    <h3>{title}</h3>
  </section>
    <slot />
</div>

<style>
  [astro-icon] {
    color: var(--text);
    height: var(--_icon_size);
    vertical-align: bottom;
    font-size: var(--_icon_size) !important;
  }
  section {
    --_icon_size: 3rem;
    display: grid;
    grid-template-columns: var(--_icon_size) auto;
    gap: 2rem;
    align-items: center;
  }
  h3 {
    text-wrap: balance;
  }
  div {
    font-size: larger;
    color: var(--text);
    width: 100%;
    padding: 3% 5%;
    margin: 1rem;
    text-wrap: balance;
    border-radius: var(--border-radius);
    display: grid;
    gap: 2rem;
  }
</style>
