---
import { Icon } from "astro-icon/components";
interface Props {
  title: string;
  icon: string;
  bg_color?: string;
  id?: string;
  classes?: string;
}
const { title, icon, bg_color, id, classes } = Astro.props as Props;
---

<div
  role="alert"
  class:list={["alert", "shadow-lg", classes]}
  style={`background-color: ${bg_color};`}
  id={id}
>
  <Icon name={icon} class="stroke-current h-10 w-10 shrink-0" />
  <div>
    <h3 class="font-bold">{title}</h3>
    <div class="text-xs"><slot /></div>
  </div>
</div>
