---
import { Icon } from "astro-icon/components";

const { classes, ...props } = Astro.props;
---

<footer
    class:list={["footer bg-base-200 text-base-content p-10 mt-8", classes]}
    {...props}
>
    <aside class="justify-center">
        <Icon name="MapSwimming" width="60%" style={'color: var(--primary); stroke: var(--primary-dark); stroke-width: 2px; filter: drop-shadow(4px 2px black);'}/>
        <p>
            <span
                style="color: var(--primary-dark);
        font-size: 22pt;
        font-weight: 700;
        letter-spacing: -1px;"
        class="text-center"
                >Freibad<br />Delligsen</span
            >
            <br />
            
        </p>
    </aside>
    <nav>
        <h6 class="mb-2 font-bold uppercase">Informationen</h6>
        <a class="link link-hover" href="/ueber/">&Uuml;ber unsere Geschichte</a
        >
        <a class="link link-hover" href="/impressum/">Impressum</a>
        <a
            class="link link-hover"
            href="/documents/Datenschutzerklärung.pdf"
            target="_blank">Datenschutz</a
        >
    </nav>
    <nav>
        <h6 class="mb-2 font-bold uppercase">Unterstützen</h6>
        <a class="link link-hover" href="/mitglied/">Vereinsmitglied werden</a>
        <a class="link link-hover" href="/job/">Ferienjob</a>
    </nav>
    <nav>
        <h6 class="mb-2 font-bold uppercase">Soziale Medien</h6>
        <div class="grid grid-flow-col gap-4">
            <a class="a" href="/rss/" aria-label="Folgt uns via RSS"
                ><div class="tooltip tooltip-bottom" data-tip="RSS">
                    <Icon name="IcRoundRssFeed" width="24" height="24" />
                </div>
            </a>
            <a
                class="a"
                target="_blank"
                href="https://www.instagram.com/freibad_delligsen/"
                aria-label="Folgt uns auf Instagram"
                ><div class="tooltip tooltip-bottom" data-tip="Instagram">
                    <Icon name="instagram" width="24" height="24" />
                </div>
            </a>
            <a
                class="a"
                target="_blank"
                href="https://www.facebook.com/Freibad.Delligsen/"
                aria-label="Folgt uns auf Facebook"
                ><div class="tooltip tooltip-bottom" data-tip="Facebook">
                    <Icon name="facebook" width="24" height="24" />
                </div>
            </a>
        </div>
    </nav>
</footer>
<p class="text-center">© Förderverein Freibad Delligsen</p>