---
import { Icon } from "astro-icon/components";
export interface Props {
	date: Date;
}

const { date, ...props } = Astro.props;
---

<span class="badge badge-neutral box-s-1" style="background-color: var(--accent3);" {...props}>
	<time datetime={date.toISOString()}>
		<div>
			<Icon name="IcRoundAccessTime" />
			{
				date.toLocaleDateString("de-de", {
					year: "numeric",
					month: "short",
					day: "numeric",
				})
			}
		</div>
	</time>
</span>
<style>
	div {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.1rem;
	}
	[data-icon] {
		height: 1rem;
		vertical-align: middle;
	}
</style>
