---
import { Icon } from "astro-icon/components";
export interface Props {
	date: Date;
}

const { date } = Astro.props;
---

<span class="badge badge-neutral">
	<time datetime={date.toISOString()}>
		<div>
			<Icon name="IcRoundAccessTime" />
			{
				date.toLocaleDateString("de-de", {
					year: "numeric",
					month: "short",
					day: "numeric",
				})
			}
		</div>
	</time>
</span>
<style>
	div {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	[data-icon] {
		height: 1rem;
		vertical-align: middle;
	}
</style>
