---
// component imports
import Link from "./Link.astro";
import { Icon } from "astro-icon/components";

const { prevUrl, nextUrl, currentPage, totalPage } = Astro.props;
const prev = currentPage > 1 ? "" : "disabled";
const next = currentPage < totalPage ? "" : "disabled";
---

<nav aria-label="Blog pages">
  <a role="button" class="btn box-s-3" disabled={prev === "disabled"} href={prevUrl}>
    <Icon name="IcRoundArrowBack" height="24" width="24" />
    Zurück</a
  >
  <a role="button" class="btn box-s-3" disabled={next === "disabled"} href={nextUrl}>
    <Icon name="IcRoundArrowForward" height="24" width="24" />
    Weiter</a
  >
</nav>
<p>Seite {currentPage} von {totalPage}</p>

<style>
  nav {
    display: flex;
    justify-content: center;
    padding-block: 2rem 1rem;
    gap: 1.5rem;
  }
  p {
    text-align: center;
  }
  a {
    background-color: var(--accent2);
  }
  a:hover {
    background-color: var(--accent2);
  }
</style>
