---
const { src, alt, width = 4, height = 3, radius =  "var(--border-radius)"} = Astro.props;
import { Image } from 'astro:assets';
---
<div style={"border-radius:"+radius+";"}>
    <Image
    loading="eager"
    quality="low"
    src={src}
    format="webp"
    widths={[500, 900]}
    sizes="(max-width: 500px) 500px, (max-width: 900px) 900px"
    alt={alt}
/>
</div>

<style>
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div {
        height: 100%;
        overflow: hidden;
    }
</style>
