---
const { src, alt, width = 4, height = 3, radius =  "var(--border-radius)"} = Astro.props;
import { Picture } from "@astrojs/image/components";
---
<div style={"border-radius:"+radius+";"}>
    <Picture
    loading="eager"
    src={src}
    widths={[200, 400, 800]}
    aspectRatio={width+":"+height}
    sizes="(max-width: 800px) 100vw, 800px"
    alt={alt}
/>
</div>

<style>
    picture,
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div {
        height: 100%;
        overflow: hidden;
    }
</style>
