---
const { location, direction, background } = Astro.props;
---

<div id={location} class="wrapperBorder">
  <div class="image" direction={direction}></div>
</div>

<style>
  .wrapperBorder {
    --_wrapperBorderHeight: 75vh;
    --_wrapperBorderHeight: 75svh;
    --_wrapperBorderDiv: 10vh;
    --_wrapperBorderDiv: 10svh;
    padding-block: 1vh;
    padding-block: 1svh;

    height: var(--_wrapperBorderHeight);
    background-color: var(--bg-color);
  }
  #bottom {
    background: linear-gradient(
      to bottom,
      var(--bg-color) 0%,
      var(--bg-color) 50%,
      transparent 50.5%,
      transparent 100%
    );
  }
  #top {
    background: linear-gradient(
      to top,
      var(--bg-color) 0%,
      var(--bg-color) 50%,
      transparent 50.5%,
      transparent 100%
    );
  }

  div[direction="lr"] {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4.3" preserveAspectRatio="none"><path d="M0 .65C0 .05 0 .05 1 .15L6 .65C7 .75 7 .75 7 1.65L7 2.65C7 3.55 7 3.55 6 3.65L1 4.15C0 4.25 0 4.25 0 3.65Z"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4.3" preserveAspectRatio="none"><path d="M0 .65C0 .05 0 .05 1 .15L6 .65C7 .75 7 .75 7 1.65L7 2.65C7 3.55 7 3.55 6 3.65L1 4.15C0 4.25 0 4.25 0 3.65Z"/></svg>');
    --_bg-img: url("../assets/images/galerie/Sprungturm2.webp");
  }

  div[direction="rl"] {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4.3" preserveAspectRatio="none">><path d="M7 3.55C7 4.15 7 4.15 6 4.05L1 3.55C0 3.45 0 3.45 0 2.55L0 1.55C0 .65 0 .65 1 .55L6 .05C7-.05 7-.05 7 .55Z"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4.3" preserveAspectRatio="none">><path d="M7 3.55C7 4.15 7 4.15 6 4.05L1 3.55C0 3.45 0 3.45 0 2.55L0 1.55C0 .65 0 .65 1 .55L6 .05C7-.05 7-.05 7 .55Z"/></svg>');
    --_bg-img: url("../assets/images/galerie/Sprungturm.webp");
  }

  .image {
    background: var(--_bg-img);
    filter: sepia(0.4);
    -webkit-background-size: cover;
    height: 100%;
    width: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }

  @media screen and (min-width: 600px) {
    .image {
      background-attachment: fixed;
    }
  }
  @media (hover: none) {
    .image {
      background-attachment: scroll;
    }
  }
  /*iosFix*/
  @supports (-webkit-touch-callout: none) {
    .image {
      background-attachment: scroll;
    }
  }
</style>
