---
import { Icon } from 'astro-icon';
---
<div class="wave">
    <a href="#scroll">
        <Icon name="IcRoundKeyboardDoubleArrowDown" />
    </a>
    <h1>Willkommen <br /> im Freibad Delligsen</h1>
</div>
<style>
    div {
        width: 100%;
        height: calc(100vh - var(--navbar-height));
        height: calc(100svh - var(--navbar-height));
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1920 346" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 0 C 161.20000000000002 0 241.79999999999998 139 403 139 L 403 139 L 403 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 402 139 C 482 139 522 44 602 44 L 602 44 L 602 0 L 402 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 601 44 C 1128.6 44 1392.4 346 1920 346 L 1920 346 L 1920 0 L 601 0 Z" stroke-width="0"></path></svg>');
        background-repeat: no-repeat;
        transform: rotate(180deg) rotateY(180deg);
    }

    svg {
        display: none;
        text-align: center;
    }

    h1 {
        font-size: 50pt;
        color: var(--light-blue);
        width: calc(100% - 32px);
        text-align: end;
        transform: rotate(180deg) rotateY(180deg);
        text-shadow: 4px 4px 1px #2e577e;
        margin: 16px;
        padding-bottom: 3vh;
    }

    @media (max-width: 1903px) {
        div {
            background-size: contain;
        }
    }

    @media (max-width: 500px) {
        div {
            background-image: none;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
            align-items: center;
            justify-content: center;
        }

        h1 {
            display: inline;
            padding-top: 40%;
            vertical-align: bottom;
        }

        svg {
            display: block;
            width: 4rem;
            height: 4rem;
            margin-inline: auto;
            transform: rotate(180deg) rotateY(180deg);
            filter: var(--filter-light-blue);
            font-size: 4rem;
        }
    }
    @media screen and (min-width: 1270px) {
        div {
            display: none;
        }
    }
</style>
