---
const { title, url, icon, current, ...props } = Astro.props;
import { Icon } from "astro-icon/components";
import { slugify } from "js/utils";
---

<li>
    {
        current === url ? (
            <a
                class="active box-s-3"
                href={"/" + url}
                transition:name={"nav-item-"+slugify(title)+"-"+icon}
                {...props}
            >
                {icon ? <Icon name={icon} /> : ""}
                &nbsp;{title}
            </a>
        ) : (
            <a 
                href={"/" + url}
                transition:name={"nav-item-"+slugify(title)+"-"+icon}
                {...props}
            >
                {icon ? <Icon name={icon} /> : ""}
                &nbsp;{title}
            </a>
        )
    }
</li>

<style>
    a {
        @apply font-semibold text-lg lg:px-2 no-underline rounded-full;
    }
    .active {
        background-color: var(--accent2) !important;
        pointer-events: none;
    }

    [data-icon] {
        display: none;
        fill: var(--text);
        transition: all 0.2s ease-in-out;
        width: 24px;
        height: 24px;
    }
    .active [data-icon],
    .active:hover [data-icon] {
        fill: white !important;
    }
</style>
