---
const { title, url, icon, current } = Astro.props;
import { Icon } from "astro-icon/components";
---

<li>
    {
        current === url ? (
            <a
                class="active !bg-primary !hover:bg-primary !text-white"
                href={"/" + url}
            >
                {icon ? <Icon name={icon} /> : ""}
                &nbsp;{title}
            </a>
        ) : (
            <a href={"/" + url}>
                {icon ? <Icon name={icon} /> : ""}
                &nbsp;{title}
            </a>
        )
    }
</li>

<style>
    a {
        font-weight: 600;
        font-size: 1.125rem;
        line-height: calc(1.75 / 1.125);
    }
    @media screen and (min-width: 64rem) {
        a {
            padding-block: 0.5rem;
        }
    }
    [data-icon] {
        display: none;
        fill: var(--text);
        transition: all 0.2s ease-in-out;
        width: 24px;
        height: 24px;
    }
    .active [data-icon],
    .active:hover [data-icon] {
        fill: white !important;
    }
</style>
